{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ distro['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or distro['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or distro['description'] }}</textarea>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('distro.delete', id=distro['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}